/.idea/
/.gradle/
/build/
/out/
/Qiangqu/
/.vscode/
/.history/
/c++/cmake-build-debug
/c++/.idea
/c++/src/leetcode/editor/cn/all.json
/c++/src/leetcode/editor/cn/translation.json
/java/src/leetcode/editor/cn/all.json
/java/src/leetcode/editor/cn/translation.json
/lib/
